.Grid {
  display: block;
}

.Grid.Grid-Row {
  display: flex;
  flex-flow: row;
  min-width: 128px;
  min-height: 128px;
  border-bottom: 3px solid black;
}

.Grid.Grid-Row:last-child,
.Grid.Grid-Column:last-child {
  border: none;
}

.Grid.Grid-Column {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-width: 128px;
  min-height: 128px;
  border-right: 3px solid black;
  cursor: pointer;
}

.Grid.Grid-Column:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
